@model ApplicationCore.Models.MovieCardModel

<div>
    
    <a asp-controller="Movies" asp-action="MovieDetails" asp-route-id="@Model.Id">
        <img src="@Model.PosterURL" alt="@Model.Title" class="img-fluid"/>
    </a>
</div>

