@using ApplicationCore.Models
@model IEnumerable<ApplicationCore.Models.MovieCardModel> 


<div class="rounded">
    <div class="container-fluid">
        <div class="row">
           @foreach (var movie in Model)
           { 
               <div class="col-md-3 mb-4">
                   @Html.Partial("_MovieCard", movie)
               </div>
               @* <partial name="_MovieCard" model="movie"/> *@
           } 
        </div>
    </div>

</div>


